# Core
torch>=2.2
torchvision>=0.17
numpy>=1.26
pandas>=2.2
scikit-learn>=1.4
transformers>=4.41
scipy>=1.10.0
pyts>=0.13.0

# Charts
mplfinance==0.12.10b0
# Knowledge graph
networkx>=3.3
# Visualisation
matplotlib>=3.8
# Utilities
tqdm>=4.66
pydantic>=2.6
# Text / PDF
pypdf>=4.2
yfinance>=0.2
